
%input {
  &:invalid {
    border-bottom:2px solid $red;
  }
  &:valid {
    border-bottom:2px solid $green;
  }
  &:focus {
    border-bottom:2px solid $snow;
  }
}

// border
%border {
  border-style:solid;
  border-width:5px;
  border-bottom: none;
  border-left: none;
  border-top-left-radius: 25rem 2.5rem;
  border-bottom-right-radius: 25rem 2.5rem;
}

%border-Right {
  border-right:2px solid $snow;
  &:last-child {
    border:none;
  }
}





// Typographie
%title {
  display:block;
  position:relative;
  font-size:2rem;
}

%text {
  text-indent:15px;
  font-size:1.5rem;
  line-height:calc(100% + 14.5px);
}

%link {
  color:white;
  text-decoration:none;
  line-height:3rem;
}
