.form {

  .form_border {
    background-color:$transparence;
    border-radius:12.5px 0 12.5px 0;

    .form_title {
      @extend %title;
      text-align:center;
      background-color: inherit;
      border: $snow 2px solid;
      padding: 5px;
      color:$snow;
    }

    [type="text"] {
      width:100%;
      padding:4px;
    }

    [type="file"] {
      color:$snow;
    }
  }
}
