// fond
@import 'partials/_color',
        'partials/_grid',
        'partials/_placeholders',
        'partials/_typographie',
        'partials/_mixins';

// forme
@import 'components/_navigations',
        'components/_card',
        'components/_form',
        'components/_wrap';
