@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Kirang+Haerang&display=swap');
$primary : #ab003c;
$second : #f50057;
$last: #ab003c;

$comfortaa : 'Comfortaa', cursive;
$kirang : 'Kirang Haerang', cursive;

html, body {
  width:100vw;
  overflow-x:hidden;
  margin: 0;
}

.section {
  color: white;
  background:#060611;

  &_title {
    background: $primary;
    color: inherit;
  }

  &_content {
    background:$second;
    font-family:$kirang;
    font-size: 1.3rem;
    letter-spacing: 2px;
    color: inherit;
  }

  &_title, &_content {
    margin: 0;
    padding: .5rem 2rem;
  }

}


.card {
  padding:2rem;
  display: flex;
  flex-flow: row wrap;

  &_area {
    background: $second;
    width: 300px;
    height: auto;
    padding:.5rem;
  }

  &_media {
    width: 100%;
    height: auto;
  }
}

.sidebar {
  background-color:$primary;
  color:white;
  border-right:2rem solid $second;
  box-shadow:inset -12px 0px 9px #1c1b1b33;

  &_block {
    list-style-type: none;
  }

}

.list {

  &_block {
    border-bottom:1px solid gray;
    padding: .5rem .3rem;
    border-left: 1rem solid $last;
  }

  &_link {
    text-decoration: none;
    font-family: $comfortaa;
    letter-spacing: 3px;
    color:white;
  }
}

.btn {
  text-decoration: none;
  border:2px solid darkgray;
  padding:4.2px 8.4px;
  text-align: center;
  border-radius:25px;
}

.primary {
  background-color: $primary;
  color: inherit;
  &:active {
    background-color: darken($primary,5);
  }
}

.second {
  background-color: $second;
  color: inherit;
  &:active {
    background-color: darken($second,5);
  }
}
